doctype html
html(lang='es')
    head
        meta(charset='utf-8')
        block title
            title HOME
        link(type='text/css',rel='stylesheet',href="{{url('css/style.css')}}")

    body
        block content
            
        script(type='javascript', src="{{url('js/min/functions.js')}}")
